﻿@using Gov.Test.Localization
@model Gov.Test.Web.Models.TenantRegistration.TenantRegisterResultViewModel
@{
    ViewBag.DisableTenantChange = true;
}

@section Styles{
    <link href="/metronic/common/css/login-1@(CultureHelper.IsRtl ? ".rtl" : "").css" rel="stylesheet"/>
}

<div class="login-form">
    <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
            @L("SuccessfullyRegistered")
        </h3>
    </div>
    <form class="form">
        <ul>
            <li>
                <span class="text-muted">@L("TenancyName"):</span> @Model.TenancyName
            </li>
            <li>
                <span class="text-muted">@L("Name"):</span> @Model.Name
            </li>
            <li>
                <span class="text-muted">@L("UserName"):</span> @Model.UserName
            </li>
            <li>
                <span class="text-muted">@L("EmailAddress"):</span> @Model.EmailAddress
            </li>
        </ul>
        <div>
            @if (Model.IsEmailConfirmationRequired)
            {
                <div class="alert alert-warning" role="alert">
                    @L("ConfirmationMailSentPleaseClickLinkInTheEmail", Model.EmailAddress)
                </div>
            }
            @if (!Model.IsActive)
            {
                <div class="alert alert-warning" role="alert">
                    @L("YourAccountIsWaitingToBeActivatedByAdmin")
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.TenantLoginAddress))
            {
                <a href="@Model.TenantLoginAddress">
                    <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">← @L("TenantRegistrationLoginInfo")</button>
                </a>
            }
            else
            {
                <a href="/Account/Login">
                    <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">← @L("GoToLoginPage")</button>
                </a>
            }
        </div>
    </form>
</div>
