﻿@model Gov.Test.Configuration.Dto.ThemeSettingsDto

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a href="#Theme6Header" class="nav-link active" data-toggle="tab" role="tab">
            @L("UiCustomization_Header")
        </a>
    </li>
    <li class="nav-item">
        <a href="#Theme6Menu" class="nav-link" data-toggle="tab" role="tab">
            @L("UiCustomization_Menu")
        </a>
    </li>
</ul>
<div class="tab-content m-5">
    <div id="Theme6Header" class="tab-pane active">
        <input type="hidden" name="Theme" value="theme6" />

        <form class="HeaderSettingsForm">
            <h5 class="margin-bottom-20">@L("UiCustomization_Mobile")</h5>
            <div class="form-group">
                <label class="checkbox checkbox-outline col-lg-12">
                    <input type="checkbox" name="MobileFixedHeader" value="true" @(Model.Header.MobileFixedHeader ? "checked=\"checked\"" : "")>
                    <span></span>
                    @L("UiCustomization_MobileFixedHeader")
                </label>
            </div>
        </form>
    </div>
    <div id="Theme6Menu" class="tab-pane">
        <form class="MenuSettingsForm">
            <div class="form-group">
                <label class="checkbox checkbox-outline col-lg-12">
                    <input type="checkbox" name="SearchActive" value="true" @(Model.Menu.SearchActive ? "checked=\"checked\"" : "")>
                    <span></span>
                    @L("ShowMenuSearchInput")
                </label>
            </div>
        </form>
    </div>
</div>
