﻿@using System.Threading.Tasks
@using Gov.Test.Authorization
@using Gov.Test.Web.Areas.AppAreaName.Startup
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Host.Editions;
}

@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/edition-list.css" asp-append-version="true"/>
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/_Bundles/edition-list.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Editions")" description="@L("EditionsHeaderInfo")">
        @if (IsGranted(AppPermissions.Pages_Editions_Create))
        {
            <button id="CreateNewEditionButton" class="btn btn-primary">
                <i class="fa fa-plus"></i> @L("CreateNewEdition")
            </button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
                        <div class="card-body">
                            <div class="align-items-center">
                                <table id="EditionsTable" class="display table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("Actions")</th>
                                        <th>@L("EditionName")</th>
                                        <th>@L("Price")</th>
                                        <th>@L("IsTrialActive")</th>
                                        <th>@L("WaitingDayAfterExpire")</th>
                                        <th>@L("ExpiringEdition")</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
        
                        </div>
                    </div>
    </div>
</div>
