﻿@model Gov.Test.Web.Areas.AppAreaName.Models.Layout.RecentNotificationsViewModel
@{
    var theme = await GetTheme();
}
<style>
    .set-notification-as-read:before{
        content: "\2022";
        padding-right: 0.5rem;
        color:#B5B5C3 !important
     }
</style>
<div class="dropdown" id="header_notification_bar">
</div>
<script id="headerNotificationBarTemplate" type="x-tmpl-mustache">
    <div class="topbar-item" data-toggle="dropdown" data-offset="30px,0px" aria-expanded="true">
        <button class="@Model.CssClass">
            {{#unreadCount}}
            <i class="flaticon-alert-2 unread-notification"></i>
            <span class="label label-warning unread-notification-count">
                {{unreadCount}}
            </span>
            {{/unreadCount}}
            {{^unreadCount}}
            <i class="flaticon-alarm"></i>
            {{/unreadCount}}
        </button>
    </div>
    <div class="dropdown-menu p-0 m-0 dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
        <div class="d-flex flex-column pt-5 bgi-size-cover bgi-no-repeat rounded-top bg-primary" style="min-height: 70px;">
            <h4 class="d-flex" style="align-items:center;justify-content: space-between;">
                <div class="ml-5">               
                    <span class="text-white">@L("Notifications")</span>
                    <span class="btn btn-text btn-white btn-sm font-weight-bold btn-font-md ml-2">{{unreadCount}} @L("New")</span>
                 </div>
                <a href="javascript:;" id="openNotificationSettingsModalLink" class="btn btn-md btn-icon btn-secondary mr-5">
                    <i class="flaticon2-gear"></i>
                </a>      
            </h4>
           
        </div>
        <div>       
            <div class="navi navi-hover scroll my-1 ps" data-scroll="true" data-height="300" data-mobile-height="200" style="height: 300px; overflow: hidden;">
                {{#notifications}}
                <a class="navi-item {{#url}}user-notification-item-clickable{{/url}} {{#isUnread}}user-notification-item-unread{{/isUnread}}" data-url="{{url}}">
                    <div class="navi-link">
                        <div class="navi-icon mr-5">
                            <i class="{{icon}} {{iconFontClass}} icon-lg"></i>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold">
                                {{text}}
                            </div>
                            <div class="text-muted">
                                {{timeAgo}}
                                {{#isUnread}}
                                    <span data-notification-id="{{userNotificationId}}" class="btn btn-link-success set-notification-as-read">
                                        @L("SetAsRead")
                                    </span>
                                {{/isUnread}}
                            </div>
                           
                        </div>
                    </div>
                </a>
                <hr style="border-top: 2px solid #f9f9f9;margin: 3px 20px;"/>
                {{/notifications}}
                {{^notifications.length}}
                <div class="notification-empty-text text-center p-5">
                    @L("ThereAreNoNotifications")
                </div>
                {{/notifications.length}}
            </div>
            {{#notifications.length}}
            <hr />
            <div class="m-4 d-flex" style="align-items:center;justify-content: space-between;">
                {{#unreadCount}}
                    <a class="btn btn-secondary col col-xs-12" href="" id="setAllNotificationsAsReadLink">@L("SetAllAsRead")</a>
                    <a class="btn btn-primary col col-xs-12" href="@Url.Action("Index", "Notifications", new {area = "AppAreaName"})">@L("SeeAllNotifications")</a>        
                {{/unreadCount}}
             {{^unreadCount}}
                    <a class="btn btn-primary col" href="@Url.Action("Index", "Notifications", new {area = "AppAreaName"})">@L("SeeAllNotifications")</a>       
             {{/unreadCount}}
            </div>
            {{/notifications.length}}
        </div>
    </div>
</script>
