﻿@using Gov.Test.Web.Resources
@using Gov.Test.Web.Views.Shared.Components.TenantChange
@model TenantChangeViewModel
@inject IWebResourceManager WebResourceManager
@{
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Views/Shared/Components/TenantChange/Default.js");
}
<span class="tenant-change-component">
    @L("CurrentTenant"):

    @if (Model.Tenant != null)
    {
        <span title="@Model.Tenant.Name"><strong>@Model.Tenant.TenancyName</strong></span>
    }
    else
    {
        <span>@L("NotSelected")</span>
    }

    (<a href="#">@L("Change")</a>)
</span>