﻿@using Abp.Configuration;
@using Gov.Test
@using Gov.Test.Configuration
@using Gov.Test.Web.Areas.AppAreaName.Models.Common.Modals
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangeProfilePicture")))

<div class="modal-body">
    <form id="ChangeProfilePictureModalForm" method="POST" action="@(ApplicationPath + "Profile/UploadProfilePicture")">
        @{
            var canUseGravatarProfilePicture = await SettingManager.GetSettingValueAsync<bool>("App.UserManagement.AllowUsingGravatarProfilePicture");
        }
        @if (canUseGravatarProfilePicture)
        {
            <div class="form-group">
                <label for="Profile_UseGravatarProfilePicture" class="checkbox checkbox-outline">
                    <input id="Profile_UseGravatarProfilePicture" type="checkbox" name="UseGravatarProfilePicture" @(await SettingManager.GetSettingValueAsync<bool>(AppSettings.UserManagement.UseGravatarProfilePicture) ? "checked=\"checked\"" : "")>
                    <span></span>
                    @L("UseGravatarProfilePicture")
                </label>
            </div>
        }
        
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="ProfilePicture" id="ProfilePicture"
                       @(canUseGravatarProfilePicture && await SettingManager.GetSettingValueAsync<bool>(AppSettings.UserManagement.UseGravatarProfilePicture) ? "disabled=\"disabled\"" : "")
                >
                <label class="custom-file-label" id="ProfilePictureLabel"
                       for="ProfilePicture">@L("ChooseAFile")</label>
            </div>
            <span class="form-text text-muted col-lg-12">@L("ProfilePicture_Change_Info", AppConsts.MaxProfilPictureBytesUserFriendlyValue)</span>
        </div>
        
    </form>
    <img id="ProfilePictureResize" src=""/>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
